@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
  background-color: #eaf8ee
;
}
#general_body{
  display: flex;

}
#sidebar{
  width:30%;
}

#header {
  display: flex;
  font-family: 'Quicksand';
  font-size: large;
}

.body_header {
  font-family: 'Quicksand';
  font-size: large;
  color: #CF000F;
}

.body_text {
  font-family: 'Quicksand';
  font-size: large;
}

#footer{
  font-family: 'Quicksand';
  font-size: small;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:2px;
}
.border_div{
  border:1px solid black;
}
#footer_left{
  padding-right:0.15cm;
}

#footer_right{
  padding-left: 0.15cm;
}
#footer_middle{
  padding-left: 0.15cm;
  padding-right: 0.15cm;
}
